{% load static %}
<footer>
        <div class="content">
            <ul class="contacts-list">
               <li class="contacts-item"><a href="#"><img src="{% static 'images/icons/Instagram.svg' %}"></a></li>
               <li class="contacts-item"><a href="#"><img src="{% static 'images/icons/Telegram.svg.webp' %}"></a></li>
               <li class="contacts-item"><a href="#"><img src="{% static 'images/icons/VK.svg.webp' %}"></a></li>
            </ul>
                 <a href="#">@megamebel.com</a>
                 <a href="#">+7 928 40 77 305</a>
            </div>
</footer>