{% load static %}
<header>
        <div class="search">
            <div class="content">
                <a href="#">
                   <img src="{% static 'images/logo/logo.png' %}" class="logo-img">
                </a>
                   <div class="search-inner">
                       <input type="text" placeholder="Поиск..." class="search-input">
                             <button type="submit" class="search-button">Поиск</button>
                       </div>
                             <ul class="search-list">
                                <li><a href="/">Главная</a></li>
                                <li><a href="#">Каталог</a></li>
                                <li><a href="#">О нас</a></li>
<!--                            <li><a href="#">Контакты</a></li>-->
                             </ul>
                       </div>
                 </div>
</header>