@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
footer a, .mebels .mebels-item h2, .mebels .mebels-item p, .mebels .mebels-title, .catalog-title, .catalog .swiper-container .swiper-slide h2, .catalog .swiper-container .swiper-slide p,
.catalog-popular .swiper-container .swiper-slide h2,
.catalog-popular .swiper-container .swiper-slide p,
.catalog-stock .swiper-container .swiper-slide h2,
.catalog-stock .swiper-container .swiper-slide p, .comments, .form .form-input-button, .form .form-input-text, .form .form-input-login input, .form .form-title, .product .product-info-text, .product .product-info-title, .product .product-info-title-comments, .product .product-info-list .product-info-button, .search, .search .search-icons .search-icon, .search .search-button, .search .search-input {
  color: #000;
  font-size: 20px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.Full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.Full-img img {
  width: 100%;
  max-width: 80%;
}

.Full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #000;
}
.search .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search .logo-img {
  width: 120px;
}
.search .search-inner {
  width: 45%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search .search-input {
  width: 80%;
  border: 1px solid #000;
  height: 100%;
  border-radius: 5px 0 0 5px;
  padding: 10px 10px;
}
.search .search-button {
  width: 20%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  color: #fff;
  background-color: #9e4848;
}
.search .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}
.search .search-list li {
  padding-left: 30px;
}
.search .search-list li a {
  color: #000;
}
.search .search-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.search .search-icons .search-icon {
  margin-left: 20px;
}
.search .search-icons .search-icon a {
  color: #000;
}
.search .search-icons .search-icon img {
  max-width: 40px;
  padding-bottom: 5px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product {
  padding: 20px 0 0 0;
}
.product .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product .product-info-list {
  padding: 0 0 0 30px;
}
.product .product-info-list .product-info-button {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #489e73;
  width: 240px;
  border-radius: 5px;
  background-color: #489e73;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.product .product-info-list .product-info-button img {
  max-width: 40px;
  margin-left: 10px;
}
.product .product-info-list .product-info-button_delete {
  background-color: #9e4848;
  border: 1px solid #9e4848;
}
.product .product-info-list .product-info-button_cant {
  background-color: #7c7777;
  border: 1px solid #7c7777;
}
.product .product-img {
  max-width: 800px;
}
.product .product-info-title, .product .product-info-title-comments {
  font-size: 30px;
  padding-bottom: 20px;
}
.product .product-info-title a, .product .product-info-title-comments a {
  color: #000;
}
.product .product-info-title-comments {
  font-size: 20px;
  padding-bottom: 10px;
}
.product .product-info-text {
  padding-bottom: 20px;
}
.product .product-info-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product .product-info-raiting li {
  padding-right: 10px;
}
.product .product-info-raiting img {
  width: 100%;
  height: 100%;
  width: 30px;
}

.form .form-title {
  margin-bottom: 10px;
}
.form .form-input-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .form-input-login input {
  border: 1px solid #000;
  width: 20%;
  border-radius: 5px;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.form .form-input-login input:nth-child(2) {
  width: 30%;
}
.form .form-input-text {
  border: 1px solid #000;
  width: 50.7%;
  border-radius: 5px;
  padding: 10px 10px;
  resize: none;
  height: 120px;
  margin-bottom: 10px;
}
.form .form-input-button {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #489e73;
  width: 240px;
  border-radius: 5px;
  background-color: #489e73;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.comments .comments-parent-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.comments .comments-parent-login p {
  margin-right: 40px;
}
.comments .comments-parent-login p a {
  color: #000;
}
.comments .comments-parent-text {
  margin-bottom: 10px;
  width: 50.7%;
}
.comments .comments-parent-answer {
  margin-bottom: 20px;
}
.comments .comments-child {
  margin-left: 50px;
}
.comments .comments-child-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.comments .comments-child-login p {
  margin-right: 40px;
}
.comments .comments-child-login p a {
  color: #000;
}
.comments .comments-child-text {
  margin-bottom: 20px;
  width: 50.7%;
}

.panorama {
  background-color: #000;
}
.panorama .panorama-img {
  width: 100%;
}
.panorama .catalog-panorama-swiper {
  overflow: hidden;
}
.panorama img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog,
.catalog-popular,
.catalog-stock {
  margin: 20px 0;
}
.catalog .swiper-container,
.catalog-popular .swiper-container,
.catalog-stock .swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.catalog .swiper-container .swiper-wrapper,
.catalog-popular .swiper-container .swiper-wrapper,
.catalog-stock .swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.catalog .swiper-container .swiper-slide,
.catalog-popular .swiper-container .swiper-slide,
.catalog-stock .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .swiper-container .swiper-slide img,
.catalog-popular .swiper-container .swiper-slide img,
.catalog-stock .swiper-container .swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.catalog .swiper-container .swiper-slide h2, .catalog .swiper-container .swiper-slide p,
.catalog-popular .swiper-container .swiper-slide h2,
.catalog-popular .swiper-container .swiper-slide p,
.catalog-stock .swiper-container .swiper-slide h2,
.catalog-stock .swiper-container .swiper-slide p {
  padding: 10px 0 0 0;
}
.catalog .swiper-container .swiper-button-next,
.catalog .swiper-container .swiper-button-prev,
.catalog-popular .swiper-container .swiper-button-next,
.catalog-popular .swiper-container .swiper-button-prev,
.catalog-stock .swiper-container .swiper-button-next,
.catalog-stock .swiper-container .swiper-button-prev {
  color: #000;
  z-index: 10;
}
.catalog .swiper-container .swiper-pagination-bullet,
.catalog-popular .swiper-container .swiper-pagination-bullet,
.catalog-stock .swiper-container .swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.7;
}
.catalog .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active,
.catalog-popular .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active,
.catalog-stock .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.catalog {
  margin: 20px 0 40px 0;
}

.catalog-title {
  padding: 0 0 20px 0;
  width: 100%;
}

.mebels {
  padding-left: 20px;
}
.mebels .mebels-title {
  margin-bottom: 20px;
  margin-left: -8px;
}
.mebels .mebels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
  margin-left: -8px;
}
.mebels .mebels-item {
  width: 19%;
}
.mebels .mebels-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.mebels .mebels-item h2, .mebels .mebels-item p {
  margin-bottom: 10px;
}
.mebels .mebels-item p {
  margin-bottom: 40px;
}

.mebels .mebels-title_text {
  margin-bottom: 25px;
}

footer {
  background-color: #2c2c2c;
  padding: 30px 0;
}
footer a {
  color: #fff;
}
footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .contacts-list li {
  padding: 0 20px 0 0;
}
footer img {
  max-width: 40px;
}